.search-box {
    border: none;
    outline: none;
    padding: 10px;
    width: 25%;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
    color:#009999;
    font-weight: bold;
  }